@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/utilities";
$utilities: map-merge(
  $utilities,
  (
    "width": (
      property: width,
      class: w,
      responsive: true,
      values: (
        50p: 50px,
        25: 25%,
        33: 33%,
        50: 50%,
        66: 66%,
        75: 75%,
        100: 100%,
        auto: auto,
      ),
    ),
  )
);

$utilities: map-merge(
  $utilities,
  (
    "z-index": (
      property: z-index,
      class: z,
      responsive: true,
      values: (
        10: 10,
      ),
    ),
  )
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.custom-card {
  max-width: 350px;
  min-height: 355px;
  @media (max-width: 575.98px) {
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    min-height: 355px;
  }
}
